<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- ONLY admin can view this page -->

<body>
    <div class="account">
        <h1 class="title">Create New Account</h1>

        <div class="container">
            <form class="login" action="/createAccount" method="post">
                <div class="form-group">
                    <label for="username">Enter new username:</label>
                    <input type="username" class="form-control" id="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="password">Enter new password:</label>
                    <input type="password" class="form-control" id="password" placeholder="********">
                </div>
                <!-- TODO: add simple function here to check if passwords match, if they don't hightlight in red and show message "passwords don't match" -->
                <div class="form-group">
                    <label for="confirm-password">Confirm new password:</label>
                    <input type="password" class="form-control" id="confirm-password" placeholder="********">
                </div>
                <div class="form-group">
                    <label>Select role:</label>
                    <input type="radio" id="admin" name="role" value="admin" required>
                    <label for="admin">Admin</label>
                    <input type="radio" id="worker" name="role" value="cityworker" required>
                    <label for="worker">City Worker</label>
                </div>
                <button type="submit" class="btn btn-primary" id="survey-btn">Create User</button>
                <% if (error) { %>
                    <p style="margin-top: 1em; color: red">This username is already taken. Please choose another</p>
                <% } %>
                <% if (success) { %>
                    <p style="margin-top: 1em; color: green">User created!</p>
                <% } %>
        </form>
        </div>

        <h1 class="title">Modify Accounts</h1>
        <!-- TODO: make this section to display and give the option to modify an account -->
        <div class="container">
            <table class="table table-bordered">
                <thead style="background-color: #419F42; color: white;">
                    <tr>
                        <th style="text-align: center;">Username</th>
                        <th style="text-align: center;">Password</th>
                        <th style="text-align: center;">Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let iCount = 0; iCount < user.length; iCount++) { %>
                       <tr>
                        <td style="text-align: center;"><%= user[iCount].username %></td>
                        <td style="text-align: center;"><%= user[iCount].password %></td>
                        <td style="text-align: center;"><%= user[iCount].status %></td>
                        <td style="text-align: center;">
                            <!-- TODO: create page to edit account?? How do i do this -->
                            <form action="/modifyAccount/<%= user[iCount].username %>" method="GET">
                                <button class="btn btn-secondary" style="background-color: #A9A9A9; border-color: #A9A9A9;" type="submit">Edit</button>
                            </form>
                        </td>
                        <td style="text-align: center;">
                            <!-- TODO: have it bring them to a confirmation page if they are sure they want to delete this user -->
                            <form action="/deleteAccount/<%= user[iCount].username %>" method="POST">
                            <button class="btn btn-secondary" id="login-btn" type="submit">Delete</button>
                            </form>
                        </td>
                       </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

<%- include('../partials/footer') %>