<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- ONLY admin can view this page -->

<body>
    <div class="account">
        <h1 class="title">Create New Account</h1>

        <div class="container">
            <form class="login" action="/createAccount" method="post">
                <div class="form-group">
                    <label for="username">Enter new username:</label>
                    <input type="username" class="form-control" id="username" name="username" placeholder="username" maxlength="20" pattern="[A-Za-z0-9]+">
                    <small id="usernameHelp" class="form-text text-muted">Only letters and numbers are allowed.</small>
                </div>
                <div class="form-group">
                    <label for="password">Enter new password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="********" maxlength="20">
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm new password:</label>
                    <input type="password" class="form-control" id="confirm-password" name="newPassword" placeholder="********" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Select role:</label>
                    <input type="radio" id="admin" name="role" value="admin" required>
                    <label for="admin">Admin</label>
                    <input type="radio" id="worker" name="role" value="cityworker" checked required>
                    <label for="worker">City Worker</label>
                </div>
                <button type="submit" class="btn btn-primary" id="survey-btn">Create User</button>
        </form>
        <% if (msg == "error") { %>
            <p style="color: red">This username is already taken. Please try again.</p>
        <% } %>
        <% if (msg == "password") { %>
            <p style="color: red">Passwords do not match. Please try again.</p>
        <% } %>
        <% if (msg == "success") { %>
            <p style="color: green">User created!</p>
        <% } %>
        </div>

        <h1 class="title">Modify Accounts</h1>
        <div class="container">
            <table class="table table-bordered">
                <thead style="background-color: #419F42; color: white;">
                    <tr>
                        <th style="text-align: center;">Username</th>
                        <th style="text-align: center;">Password</th>
                        <th style="text-align: center;">Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let iCount = 0; iCount < user.length; iCount++) { %>
                       <tr>
                        <td style="text-align: center;"><%= user[iCount].username %></td>
                        <td style="text-align: center;"><%= user[iCount].password %></td>
                        <td style="text-align: center;"><%= user[iCount].status %></td>
                        <td style="text-align: center;">
                            <form action="/editAccount/<%= user[iCount].username %>" method="GET">
                                <button class="btn btn-secondary" style="background-color: #A9A9A9; border-color: #A9A9A9;" type="submit">Edit</button>
                            </form>
                        </td>
                        <td style="text-align: center;">
                            <!-- TODO: have it bring them to a confirmation page if they are sure they want to delete this user -->
                            <form action="/deleteAccount" method="POST" onsubmit="return confirmDelete()">
                                <input type="hidden" name="username" value="<%= user[iCount].username %>">
                                <button class="btn btn-secondary" id="delete-btn" type="submit">Delete</button>
                              </form>
                        </td>
                       </tr>
                    <% } %>
                </tbody>
            </table>
            <br><br><br><br><br><br>
        </div>
    </div>
</body>
<script>
    function confirmDelete() {
      return confirm("Are you sure you want to delete this account?");
    }
  </script>

<%- include('../partials/footer') %>