<%- include('../partials/head') %>
<%- include('../partials/header') %>
<!-- Update your HTML body section -->
<body>
    <div class="content-section">
        <div class="form-container">
            <!-- Your first form here -->
        </div>

        <div class="form-container-2">
            <form action="/editAccountPassword" method="POST">
                <fieldset>
                    <legend>Edit Password:</legend>
                    <label for="username">Current Username:</label>
                    <input type="text" id="username" name="username" value="<%= user[0].username %>" readonly>
                    <br><br>
                    <!-- Display current password -->
                    <label for="password">Current Password:</label>
                    <input type="text" id="password" name="password" value="<%= user[0].password %>" readonly>
                    <br><br>
                    <!-- Enter new password -->
                    <label for="newPassword">New Password:</label>
                    <input type="text" id="newPassword" name="newPassword" placeholder="Enter new password" required>
                    <!-- The 'required' attribute ensures that the field cannot be left blank -->
                    <br><br>
                </fieldset>
                <button class="btn btn-primary" id="survey-btn" type="submit">Save Password</button>
            </form>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>




<%- include('../partials/footer') %>