<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <div class="container account border rounded">
        <div class="form-container" id="login-form">
            <form action="/editAccountUsername" method="POST">
                <fieldset>
                    <legend>Edit Username:</legend>
                    <!-- Display current username -->
                    <label for="username">Current Username:</label>
                    <input type="text" id="username" name="username" value="<%= user[0].username %>" readonly>
                    <br><br>
                    <!-- Enter new username -->
                    <label for="newUsername">New Username:</label>
                    <input type="text" id="newUsername" name="newUsername" placeholder="Enter new username" required maxlength="20" pattern="[A-Za-z0-9]+">
                    <small id="usernameHelp" class="form-text text-muted">Only letters and numbers are allowed.</small>
                    <br><br>
                </fieldset>
                <button class="btn btn-primary" id="survey-btn" type="submit">Save Username</button>
            </form>
        </div>

        <div class="form-container">
            <form action="/editAccountPassword" method="POST">
                <fieldset>
                    <legend style="margin-top: 2em;">Edit Password:</legend>
                    <!-- Display current password -->
                    <label for="password">Current Password:</label>
                    <input type="text" id="password" name="password" value="<%= user[0].password %>" readonly>
                    <br><br>
                    <!-- Hidden input for username -->
                    <input type="hidden" name="username" value="<%= user[0].username %>">
                    <!-- Enter new password -->
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" required maxlength="20">
                    <!-- The 'required' attribute ensures that the field cannot be left blank -->
                    <br><br>
                </fieldset>
                <button class="btn btn-primary" id="survey-btn" type="submit" style="margin-bottom: 2em;">Save Password</button>
            </form>
        </div>
    </div>
</body>
