<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <script>
        $(document).ready(function() {
            $(".search").keyup(function() {
                var searchTerm = $(".search").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

                $.extend($.expr[':'], {
                    'containsi': function(elem, i, match, array) {
                        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                    }
                });

                $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e) {
                    $(this).attr('visible', 'false');
                });

                $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e) {
                    $(this).attr('visible', 'true');
                });

                var jobCount = $('.results tbody tr[visible="true"]').length;
                $('.counter').text(jobCount + ' item(s)');

                if (jobCount == '0') {
                    $('.no-result').show();
                } else {
                    $('.no-result').hide();
                }
            }); // key up
        });
    </script>
    <div>
        <h1 class="title">All Survey Results</h1>
        <div class="container d-flex align-items-center justify-content-center">
            <div class="form-group">
                <span class="counter"></span>
                <input type="text" class="search form-control" id="small-search" placeholder="Search...">
                <br><br>
            </div>
        </div>
        <div class="container" id="table-container">
            <table class="table table-hover table-bordered results" style="white-space: normal; word-wrap: break-word;">
                <thead style="background-color: #A9A9A9; color: white;">
                    <tr>
                        <th style="text-align: center;">Survey ID</th>
                        <th style="text-align: center;">Date</th>
                        <th style="text-align: center;">Time</th>
                        <th style="text-align: center;">Location</th>
                        <th style="text-align: center;">Age</th>
                        <th style="text-align: center;">Gender</th>
                        <th style="text-align: center;">Relationship</th>
                        <th style="text-align: center;">Occupation</th>
                        <th style="text-align: center;">Organizations</th>
                        <th style="text-align: center;">Uses Social Media?</th>
                        <th style="text-align: center;">Platforms</th>
                        <th style="text-align: center;">Avg Time Used</th>
                        <th style="text-align: center;">Freq Used W/o Purpose</th>
                        <th style="text-align: center;">Freq of Distration</th>
                        <th style="text-align: center;">Freq of Restlessness</th>
                        <th style="text-align: center;">Overall Distraction</th>
                        <th style="text-align: center;">Freq of Worry</th>
                        <th style="text-align: center;">Concentration</th>
                        <th style="text-align: center;">Comparison Freq</th>
                        <th style="text-align: center;">Feelings of Comparison</th>
                        <th style="text-align: center;">Seeking Validation</th>
                        <th style="text-align: center;">Feeling Depressed</th>
                        <th style="text-align: center;">Fluctuated Interest</th>
                        <th style="text-align: center;">Sleep Issues</th>                        
                    </tr>
                    <tr class="warning no-result" style="background-color: white; color: black">
                        <td colspan="22">
                            <!-- warning icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                            </svg>
                            No results found
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <% for (let iCount = 0; iCount < entries.length; iCount++) { %>
                       <tr>
                        <td style="text-align: center;"><%= entries[iCount].survey_id %></td>
                        <td style="text-align: center;"><%= entries[iCount].date %></td>
                        <td style="text-align: center;"><%= entries[iCount].time %></td>
                        <td style="text-align: center;"><%= entries[iCount].location %></td>
                        <td style="text-align: center;"><%= entries[iCount].age %></td>
                        <td style="text-align: center;"><%= entries[iCount].gender %></td>
                        <td style="text-align: center;"><%= entries[iCount].rel_status %></td>
                        <td style="text-align: center;"><%= entries[iCount].occ_status %></td>
                        <td style="text-align: center;">
                            <% for (let org of entries[iCount].organizations) { %>
                              <%= org %><br>
                            <% } %>
                          </td>
                        <td style="text-align: center;"><%= entries[iCount].sm_user %></td>
                        <td style="text-align: center;">
                            <% for (let plat of entries[iCount].platforms) { %>
                              <%= plat %><br>
                            <% } %>
                          </td>
                        <td style="text-align: center;"><%= entries[iCount].avg_time %></td>
                        <td style="text-align: center;"><%= entries[iCount].wop_freq %></td>
                        <td style="text-align: center;"><%= entries[iCount].distract_freq %></td>
                        <td style="text-align: center;"><%= entries[iCount].restless_freq %></td>
                        <td style="text-align: center;"><%= entries[iCount].const_distract %></td>
                        <td style="text-align: center;"><%= entries[iCount].worried_freq %></td>
                        <td style="text-align: center;"><%= entries[iCount].concen_diff %></td>
                        <td style="text-align: center;"><%= entries[iCount].comp_freq %></td>
                        <td style="text-align: center;"><%= entries[iCount].comp_feel %></td>
                        <td style="text-align: center;"><%= entries[iCount].val_freq %></td>
                        <td style="text-align: center;"><%= entries[iCount].dep_freq %></td>
                        <td style="text-align: center;"><%= entries[iCount].int_fluc %></td>
                        <td style="text-align: center;"><%= entries[iCount].slp_issues %></td>
                       </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>